<%- include('../layouts/admin-header.ejs') %>

<div class="dash-content container add">
 <h2 class="page-title">Add a coupon</h2>
    <a href="/admin/coupon" class="btn"><i class="fa fa-angle-left"></i></a>
   
    <br><br>
    <div class=" row">
        <form id="add-coupon" method="post" action="/admin/coupon/add-coupon">
            <% error.forEach(function(err){ %>
                <div class="alert alert-success" role="alert">
                    <%= err %>
                </div>
              <%})%>
            <div class="form-group">
                <input id="coupon" type="text" class="box" name="coupon" placeholder="Coupon">
            </div>
            <div class="form-group">
                <input id="description" type="text" class="box" name="description"  placeholder="Description">
            </div>
            <div class="form-group">
                <input id="offer" type="text" class="box" name="offer"  placeholder="Offer">
            </div>
            <div class="form-group">
                <input id="minimum" type="number" class="box" name="minimum"  placeholder="Minimum amount to avail offer">
            </div>
            <div class="form-group">
                <input id="expiry" type="date" class="box" name="expiry"  placeholder="Expiry date">
            </div>
           
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
    
</section>


<%- include('../layouts/admin-footer.ejs') %>