     <!-- jQuery CDN -->
     <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
     <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
     
     <!-- <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> -->
     <!-- <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script> -->
     <!-- Lightbox Pupup -->
   </body>

   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>	
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>	
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>
   
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   <!-- Bootstrap 5 CDN -->
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script> -->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
     <script src="/public/js/index.js"></script>
     <script>
          const body = document.querySelector("body");
               sidebar = body.querySelector("nav");
               sidebarToggle = body.querySelector(".sidebar-toggle");

             
               // let getStatus = localStorage.getItem("status");
               // if (getStatus && getStatus === "close") {
               //      sidebar.classList.toggle("close");
               // }

             

               sidebarToggle.addEventListener("click", () => {
                    sidebar.classList.toggle("close");
                    if (sidebar.classList.contains("close")) {
                         localStorage.setItem("status", "close");
                    } else {
                         localStorage.setItem("status", "open");
                    }
               })
               $(document).ready(function () {
                    $('#example').DataTable();
               });

          
      </script>

      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
 
 </html>