<%- include('../layouts/user-header') %>

    <section class="about">

        <h1 class="title">why choose us?</h1>

        <div class="row">

            <div class="image">
                <img src="/public/images/brand-img.png" alt="">
            </div>

            <div class="content">
                <h3>the best online cake-hub </h3>
                <p>We are just strted our journey before months. we deliver cakes and bakes within 4 districts in kerala
                     (Malappuram,Kozhikkodu,Palakkad and Trissur).We ensure customers' satisfaction and happiness.
                      our products are very unique and attractive.it is good  both taste-wise and look-wise. </p>
                <p>one of our highlight is affordable price. you can order any products you crave at cheap price. 
                
                </p>
            </div>

        </div>

        <div class="icons-container">

            <div class="icons">
                <i class="fa fa-truck"></i>
                <h3>Next-day delivery</h3>
            </div>

            <div class="icons">
                <i class="fa fa-box"></i>
                <h3>attractive packaging</h3>
            </div>

            <div class="icons">
                <i class="fa fa-credit-card"></i>
                <h3>easy payments</h3>
            </div>

            <div class="icons">
                <i class="fa fa-phone"></i>
                <h3>24 hrs support</h3>
            </div>
        </div>

    </section>


    <%- include('../layouts/user-footer-section') %>

        <%- include('../layouts/user-footer') %>