<%- include('../layouts/user-header') %>

<section class="contact">

    <h1 class="title"> get in touch </h1>

    <div class="row">

        <form id="contact-form" action="" >
            <div id="msg-report" class="sent-message text-success">Your message has been sent. Thank you!</div>
            <input name="name" type="text" placeholder="your name" class="box">
            <input name="number" type="number" placeholder="your number" class="box">
            <input name="email" type="email" placeholder="your email" class="box">
            <textarea name="message" placeholder="your message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6280.114108343043!2d75.94089528714619!3d11.116575413402353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba64e618d7139d1%3A0x56a1759e39442128!2sPalappetti%2C%20Peruvallur%2C%20Kerala!5e0!3m2!1sen!2sin!4v1659775437863!5m2!1sen!2sin"   allowfullscreen="" loading="lazy" ></iframe>
    </div>

</section>


<%- include('../layouts/user-footer-section') %>

        <%- include('../layouts/user-footer') %>