            
<%- include('../layouts/user-header.ejs') %>

<!-- <section class="heading">
    <h1>account</h1>
    <p> <a href="">home</a> >> login </p>
</section> -->


<!-- login form section starts -->

<section class="login-form">
  
    <form id="user-login-form" action="/login" method="post">
      <% success.forEach(function(msg){ %>
        <div class="alert alert-success" role="alert">
            <%= msg %>
        </div>
      <%})%>
      
      <% error.forEach(function(err){ %>
        <div class="alert alert-danger" role="alert">
            <%= err %>
        </div>
      <%})%>
        <h3>user login</h3>
        <div class="inputBox">
            <span class="fas fa-user"></span>
            <input type="email" name="email" placeholder="Enter your email" id="email">
        </div>
        <div class="inputBox">
            <span class="fas fa-lock"></span>
            <input type="password" name="password" placeholder="Enter your password" id="password">
        </div>
        <input type="submit" value="sign in" class="btn">
        <div class="flex">
            <a href="/forgot-password">forgot password?</a>
        </div>
        <a href="/register" class="btn">create an account</a>
    </form>

</section>

<!-- login form section ends -->











<!-- footer section starts  -->






















<%- include('../layouts/user-footer.ejs') %>




        